[submodule "emacs.d/vendor/multiple-cursors"]
	path = emacs.d/vendor/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule "emacs.d/vendor/auto-complete"]
	path = emacs.d/vendor/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "emacs.d/vendor/auto-complete-popup"]
	path = emacs.d/vendor/auto-complete-popup
	url = git://github.com/auto-complete/popup-el.git
[submodule "emacs.d/vendor/yasnippet"]
	path = emacs.d/vendor/yasnippet
	url = http://github.com/capitaomorte/yasnippet
[submodule "emacs.d/vendor/zenburn-emacs"]
	path = emacs.d/vendor/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "emacs.d/vendor/js2-mode"]
	path = emacs.d/vendor/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "emacs.d/vendor/jshint-mode"]
	path = emacs.d/vendor/jshint-mode
	url = https://github.com/daleharvey/jshint-mode.git
[submodule "emacs.d/vendor/haskell-mode"]
	path = emacs.d/vendor/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "emacs.d/vendor/yaml-mode"]
	path = emacs.d/vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "emacs.d/vendor/emmet-mode"]
	path = emacs.d/vendor/emmet-mode
	url = https://github.com/smihica/emmet-mode.git
[submodule "emacs.d/vendor/editorconfig-emacs"]
	path = emacs.d/vendor/editorconfig-emacs
	url = https://github.com/editorconfig/editorconfig-emacs.git
